@import "tailwindcss";

.container {
    max-width: var(--container-7xl);
    padding-inline: calc(var(--spacing) * 4);
    @media (width >= 40rem /* 640px */) {
        padding-inline: calc(var(--spacing) * 6) /* 1.5rem = 24px */;
    }
    @media (width >= 64rem /* 1024px */) {
        padding-inline: calc(var(--spacing) * 8) /* 2rem = 32px */;
    }
    margin-inline: auto;
}
